body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background-color: rgb(171, 171, 171);
}

main{
    background-color: #e5e5e5;
    color: #78373e;
    width: 60%;
    align-self: center;
    align-items: center;
}

.flex {
    display: flex;
    margin-bottom: 30px;
}

.formCon{
    margin:2% 8% ;
}

h1{
    padding: 6% 0%;
    margin: 0;
    text-align: center;
    width: 100%;
}

.whiteboy{
    background-color: white;
}

.inputs{
    width: 50%;
    margin: 0;
    padding: 0;
}

.columbo{
    flex-direction: column;
}

.comment{
    margin-top: 100px;
}

.comment div{
    /* padding-bottom: 20px; */
    margin-top: 15px;
}

.btnSec{
    justify-content: center;
}

.btnSec button{
    padding: 1% 7%;
    background-color: gray;
    color: white;
    border: 1 ridge red;
    border-radius: 5px;
    align-self: center;
}

.leftside{
    margin-left: 0%;
}

.inputLen{
    width: 75%;
    margin-top: 5%;
}

input[type="radio" i]{
    margin-left: 0;
}